*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: aqua;
    display: flex;
    margin: 10px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    
    
}

.caixa{
    background-color: blue;
    padding: 30px;
    margin: 30px;
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    justify-content: center;
    
}













































/**{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}

.container{
    background-color: lightseagreen;
    display:flex ;
    justify-content: center;
    border: 2px solid black;
    padding: 200px;
    margin: 10px;
    align-items: center;
}

.caixa{
    margin: 20px;
    border: 1px solid black;
    width: 30px;
    height: 40px;
    background-color: rgb(25, 6, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;    
}*/